<h2>Update Account</h2>
{{#if error}}<div>{{error}}</div>{{/if}}
<form action="/account" method="post">
	<input type="hidden" name="_method" value="put">
	<div>
		<label for="Name">Name</label>
		<input id="Name" name="name" value="{{accountData.name}}"></input>
	</div>
	<div>
		<label for="Email">Email</label>
		<input id="Email" name="email" value="{{accountData.email}}"></input>
	</div>
	<div>
		<label for="CurrentPassword">Current password</label>
		<input type="password" id="CurrentPassword" name="currentPassword"></input>
	</div>
	<div>
		<label for="Password">Password</label>
		<input type="password" id="Password" name="password"></input>
	</div>
	<div>
		<button>Update account</button>
	<div>
</form>